/* Global styles */

::selection {
    background: $gold;
    color: white;
    text-shadow: 0px 1px 1px rgba(black, 0.6);
}

// ::-moz-selection {
//     background: $blue;
//     color: white;
//     text-shadow: 0px 1px 1px rgba(black, 0.6);
// }

html {
    font-size: 62.5%;
    @include box-sizing(border-box);
}

*,
*:before,
*:after {
    @include box-sizing(inherit);
}

body {
    @include font-default();
    font-size: 13px;
    // font-size: 1.3rem;
    color: $grey;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

// HELPER CLASSES (additionaly set)
.uppercase {
    text-transform: uppercase;
}

.text-center {
    text-align: center;
}
