// Fonts
$font-default: 'Open Sans', sans-serif;

// Colours
$pink: #eb008b;
$light-grey: #666666;
$dark-grey: #323232;

// // Grid settings
// $grid-width: 1200px;
// $grid-columns: 12;
// $grid-gutter: 20px;
