/* Home page */

.home {
    .app-wrapper {
        max-width: $full-width;
        min-height: 1628px;
        margin: 0 auto;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1d1c1d+0,1e1e1e+3,2b2b2a+13,323232+21,323232+79,2b2b2a+87,1e1e1e+97,1d1c1d+100 */
        background: #1d1c1d;
        /* Old browsers */
        background: -moz-linear-gradient(left, #1d1c1d 0%, #1e1e1e 3%, #2b2b2a 13%, #323232 21%, #323232 79%, #2b2b2a 87%, #1e1e1e 97%, #1d1c1d 100%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(left, #1d1c1d 0%, #1e1e1e 3%, #2b2b2a 13%, #323232 21%, #323232 79%, #2b2b2a 87%, #1e1e1e 97%, #1d1c1d 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right, #1d1c1d 0%, #1e1e1e 3%, #2b2b2a 13%, #323232 21%, #323232 79%, #2b2b2a 87%, #1e1e1e 97%, #1d1c1d 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1d1c1d', endColorstr='#1d1c1d', GradientType=1);
        /* IE6-9 */





        .container {
            max-width: 1540px; // margin:0 auto;
            // padding: 0;
        }
    }
}

// .row {
//     .content {
//         border: 1px solid black;
//         &.content-1 {
//             &.col:first-child,
//             .col:not(:last-child) {
//                 padding-right: 7px;
//             }
//             &.col:last-child {
//                 padding-left: 7px;
//             }
//             &.col:not(:first-child),
//             .col:not(:last-child) {
//                 padding-right: 7px;
//                 padding-left: 7px;
//             }
//         }
//         &.content-2 {
//             &.col:first-child,
//             .col:not(:last-child) {
//                 padding-right: 17px;
//             }
//             &.col:last-child {
//                 padding-left: 17px;
//             }
//             &.col:not(:first-child),
//             .col:not(:last-child) {
//                 padding-right: 17px;
//                 padding-left: 17px;
//             }
//         }
//     }
// }
