/* Home page */

.home {
    .app-wrapper {
        max-width: $full-width;
        min-height: 1628px;
        margin: 0 auto;
        box-sizing: border-box;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1d1c1d+0,1e1e1e+3,2b2b2a+13,323232+21,323232+79,2b2b2a+87,1e1e1e+97,1d1c1d+100 */
        background: #1d1c1d;
        /* Old browsers */
        background: -moz-linear-gradient(left, #1d1c1d 0%, #1e1e1e 3%, #2b2b2a 13%, #323232 21%, #323232 79%, #2b2b2a 87%, #1e1e1e 97%, #1d1c1d 100%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(left, #1d1c1d 0%, #1e1e1e 3%, #2b2b2a 13%, #323232 21%, #323232 79%, #2b2b2a 87%, #1e1e1e 97%, #1d1c1d 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right, #1d1c1d 0%, #1e1e1e 3%, #2b2b2a 13%, #323232 21%, #323232 79%, #2b2b2a 87%, #1e1e1e 97%, #1d1c1d 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1d1c1d', endColorstr='#1d1c1d', GradientType=1);
        /* IE6-9 */
        // background: #67CCCB;
        .header {
            height: 336px;
            /* Logo */
            .header-top {
                padding-top: 101px;
                padding-left: 67px;
                .logo {
                    a {
                        text-shadow: (1px 1px rgba(0, 0, 0, 1));
                        font-family: $font-yk;
                        font-size: 140px;
                        text-transform: uppercase;
                        color: $gold;
                    }
                }
            }
            .header-bottom {
                margin-top: 3px;
                margin-left: 74px;
                .navigation {
                    .nav {
                        margin-top: 10px;
                        .nav-item {
                            .nav-link {
                                // Extra large devices (large desktops, 1200px and up)
                                @media (min-width: 1200px) {
                                    padding: 0 10px 0 9px;
                                }

                                font-family: $font-lg;
                                text-decoration: none;
                                font-size: 24px;
                                text-transform: uppercase;
                                color: white;
                                &:hover {
                                    color: $gold;
                                }
                                &:active {
                                    color: $gold;
                                }
                            }
                        }
                    }
                }
                /* Search field */
                /* enable absolute positioning */
                .search-field {
                    margin: 0 84px 0px 0;
                    width: 190px;
                    height: 32px;
                    background: transparent;
                    position: relative;
                    border: 0px;
                    .glyphicon {
                        color: $gold;
                        text-shadow: (1px 1px rgba(0, 0, 0, 0.7));
                        position: absolute;
                        pointer-events: none;
                        right: 0px;
                        margin: 11px 9px 0 0;
                        transform: scaleX(-1);
                        -moz-transform: scaleX(-1);
                        -webkit-transform: scaleX(-1);
                        -ms-transform: scaleX(-1);
                    }
                    input {
                        box-shadow: 1px 1px 0px 0px rgba(72, 72, 72, 1);
                        background: black;
                        opacity: 0.28;
                        border: 0px;
                        border-radius: 0px;
                        max-height: 100%;

                    }
                    label {
                        position: absolute;
                        top: 11px;
                        left: 14px;
                        font-family: arial;
                        font-size: 12px;
                        font-style: italic;
                        color: #595959;
                    }
                }
            }
        }
    }
    .main {
        .container {
            max-width: 1540px;
            .articles {
                .content {
                    width: 230px;
                    height: 360px;
                    margin-bottom: 26px;
                    &:nth-child(2) {
                        margin-right: 255px;
                        .article {
                            width: 460px;
                        }
                    }
                    .article {
                        overflow: hidden;
                        text-overflow: clip;
                        .dashed {
                            height: 94px;
                        }
                    }
                }
            }
        }
    }
}

// .row {
//     .content {
//         border: 1px solid black;
//         &.content-1 {
//             &.col:first-child,
//             .col:not(:last-child) {
//                 padding-right: 7px;
//             }
//             &.col:last-child {
//                 padding-left: 7px;
//             }
//             &.col:not(:first-child),
//             .col:not(:last-child) {
//                 padding-right: 7px;
//                 padding-left: 7px;
//             }
//         }
//         &.content-2 {
//             &.col:first-child,
//             .col:not(:last-child) {
//                 padding-right: 17px;
//             }
//             &.col:last-child {
//                 padding-left: 17px;
//             }
//             &.col:not(:first-child),
//             .col:not(:last-child) {
//                 padding-right: 17px;
//                 padding-left: 17px;
//             }
//         }
//     }
// }
