<div class="about">
  <header class="header">
      <div class="logo">
          <a href="" title="The Style Of Boxing">The <span class="logo-gold">Style</span> Of <span class="logo-gold">Boxing</span></a>
      </div>
      <nav class="navigation">
          <ul class="menu">
              <li class="item active">
                  <a href="/home" data-path>Home</a>
              </li>
              <li class="item">
                  <a href="/about" data-path>Basics</a>
              </li>
              <li class="item">
                  <a href="#" >Techniques</a>
              </li>
              <li class="item">
                  <a href="#">Training</a>
              </li>
              <li class="item">
                  <a href="#">Strategy</a>
              </li>
              <li class="item hover">
                  <a href="#">Diet</a>
              </li>
              <li class="item">
                  <a href="#">Dummy-Item</a>
              </li>
              <li class="item">
                  <a href="#">Dummy-Item</a>
              </li>
              <li class="item">
                  <a href="#">Dummy-Item</a>
              </li>
              <li class="item">
                  <a href="#">Dummy-Item</a>
              </li>
          </ul>
      </nav>
  </header>
</div>
