<footer class="footer">
    <div class="footer-top">
        <div class="row">
            <section class="recent-posts col-md-3 col-sm-6 col-12">
                <h1 class="gold">Recent posts</h1>
                <p><span>&raquo;</span>Fusce suscipit sapien sit amet </p>
                <p><span>&raquo;</span>Fusce suscipit sapien sit amet </p>
                <p><span>&raquo;</span>Fusce suscipit sapien sit amet </p>
                <p><span>&raquo;</span>Fusce suscipit sapien sit amet </p>
                <p><span>&raquo;</span>Fusce suscipit sapien sit amet </p>
                <p><span>&raquo;</span>Fusce suscipit sapien sit amet </p>
                <p><span>&raquo;</span>Fusce suscipit sapien sit amet </p>
            </section>
            <section class="custom-text-widget col-md-3 col-sm-6 col-12">
                <h1 class="gold">Custom Text Widget</h1>
                <p>Fusce suscipit sapien sit amet sapien placerat ultrices. Vivamus sed massa ac metus gravida dignissim egestas
                    posuere lorem. Sed ipsum urna, facilisis quis eleifend ut, sodales sed lectus. Integer felis eu ipsum
                    malesuada luctus. Sed pharetra eleifend ante vitae fermentum. Praesent fermentum volutpat porta. Lorem
                    ipsum dolor sit amet, consectetur adipiscing elit. Ut dignissim, nibh quis ultricies laoreet, libero
                    justo suscipit risus, sed sollicitudin odio erat at purus. Quisque molestie venenatis turpis eu adipiscing.
                    Pellentesque habi</p>
            </section>
            <section class="recent-comments col-md-3 col-sm-6 col-12">
                <h1 class="gold">Recent comments</h1>
                <p><span>&raquo;</span>Fusce suscipit sapien sit amet </p>
                <p><span>&raquo;</span>Fusce suscipit sapien sit amet </p>
                <p><span>&raquo;</span>Fusce suscipit sapien sit amet </p>
                <p><span>&raquo;</span>Fusce suscipit sapien sit amet </p>
                <p><span>&raquo;</span>Fusce suscipit sapien sit amet </p>
                <p><span>&raquo;</span>Fusce suscipit sapien sit amet </p>
                <p><span>&raquo;</span>Fusce suscipit sapien sit amet </p>
            </section>
            <section class="archives col-md-3 col-sm-6 col-12">
                <h1 class="gold">Archives</h1>
                <p><span>&raquo;</span>Fusce suscipit sapien sit amet </p>
                <p><span>&raquo;</span>Fusce suscipit sapien sit amet </p>
                <p><span>&raquo;</span>Fusce suscipit sapien sit amet </p>
                <p><span>&raquo;</span>Fusce suscipit sapien sit amet </p>
                <p><span>&raquo;</span>Fusce suscipit sapien sit amet </p>
                <p><span>&raquo;</span>Fusce suscipit sapien sit amet </p>
                <p><span>&raquo;</span>Fusce suscipit sapien sit amet </p>
            </section>
        </div>
    </div>
    <div class="footer-bottom">
        <p>Designed by <span class="dark-grey bold">ElegnatThemes</span> | Powered by <span class="dark-grey bold">WordPress</span></p>
    </div>
</footer>
