<div class="body ">
    This is Home page.<br> Go to <a href="/about"
        data-path>About page</a>
    {{!-- <div class="row"> {{#each techniques}}

        <div class="content content-1 col col-lg-3 col-md-4 col-sm-6 ">

            <h3>{{title}}</h3>
            <h4 class="">Author: {{author}}</h4>
            <p>Desctription:{{description}}</p>
        </div>
        {{/each}}
    </div> --}}

</div>
